# Mark m. file as Power Query M language
* .m linguist-language=m

# Mark.dax files as DAX
*.dax linguist-language=SQL

# Exclude certain files from language stats
*.json linguist-vendored
*.md linguist-documentation
